.app__posts {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 0.1px solid lightgray;
  border-radius: 10px;
  padding: 10px 15px;
}

.app__posts_top {
  display: flex;
  justify-content: space-between;
}

.app__posts_account {
  display: flex;
}

.app__posts_account-name {
  font-size: 14px;
  font-weight: 600;
}

.app__posts_time {
  display: flex;
  align-items: center;
  gap: 3px;
}

.app__posts_account-details {
  font-size: 12px;
  color: gray;
}

.app__posts_content {
  margin: 15px 0;
}

.app__posts_options {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  align-items: center;
}
