.app__feed {
  display: flex;
  flex: 0.54;
  flex-direction: column;
}

.app__feed_top {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #fff;
  border: 0.1px solid lightgray;
}

.app__feed_form {
  display: flex;
  flex: 1;
  align-items: center;
}

.app__feed_top-avatar {
  width: 55px !important;
  height: 55px !important;
  margin-right: 5px;
  color: gray;
}

.app__feed_form-container {
  flex: 1;
  padding: 15px 20px;
  background-color: whitesmoke;
  border-radius: 35px;
  border: 0.3px solid lightgray;
}

.app__feed_top > form {
  display: flex;
  flex: 1;
}

.app__feed_top-input {
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  width: 100%;
}

.app__feed_top-button {
  display: none;
}

.app__feed-options {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  align-items: center;
}

.app__feed_divider {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
}

.app__feed_divider > span {
  content: " ";
  flex: 1;
  height: 1px;
  margin-right: 10px;
  background-color: lightgray;
}

.app__feed_divider > p {
  color: gray;
  font-size: 12px;
}

.app__feed_divider > p > span {
  color: #000;
  font-size: 12px;
  font-weight: 600;
}

.app__feed_bottom {
  display: flex;
  flex-direction: column;
}
