.app__header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px;
  border-bottom: 0.2px solid lightgray;
  background-color: #fff;
  z-index: 999;
}

.app__header_left {
  display: flex;
  align-items: center;
  flex: 0.7;
}

.app__header_left > img {
  object-fit: contain;
  max-height: 34px;
  margin: 0 10px;
  cursor: pointer;
}

.app__header_search {
  display: flex;
  flex: 1;
  gap: 5px;
  align-items: center;
  border-radius: 5px;
  color: gray;
  background-color: #eef3f8;
  padding: 5px 12px;
}

.app__header_search > input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  font-size: 14px;
  color: #1f1f1f;
}

.app__header_right {
  display: flex;
}

.app__header_separator {
  content: " ";
  width: 1px;
  background-color: lightgray;
}

@media screen and (max-width: 920px) {
  .app__header_right {
    display: none;
  }
}
