.app__sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.23;
  justify-content: center;
  padding-bottom: 5px;
}

.app__sidebar_top {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 10px;
  background-color: #fff;
  border: 0.1px solid lightgray;
  margin-bottom: 10px;
}

.app__sidebar_section-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 0.3px solid lightgray;
}

.app__sidebar_section-1 > img {
  border-radius: 8px 8px 0 0;
}

.app__sidebar_avatar {
  width: 3em !important;
  height: 3em !important;
  margin-top: -40px;
  color: gray;
  background-color: #fff;
  border-radius: 50%;
}

.app__sidebar_title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.app__sidebar_description {
  font-size: 12px;
  color: gray;
  margin-top: 5px;
}

.app__sidebar_section-2 {
  padding: 15px 0;
  border-bottom: 0.3px solid lightgray;
}

.app__sidebar_section-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 12px;
  cursor: pointer;
}

.app__sidebar_section-row:hover {
  background-color: rgb(226, 226, 226);
}

.app__sidebar_section-row > p {
  font-size: 12px;
  font-weight: 600;
  color: gray;
}
.app__sidebar_section-row > span {
  font-size: 12px;
  font-weight: 600;
  color: #378fe9;
}

.app__sidebar_section-3 {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px 12px;
  cursor: pointer;
}

.app__sidebar_section-3:hover {
  background-color: rgb(226, 226, 226);
}

.app__sidebar_section-3 > p {
  font-size: 14px;
  font-weight: 600;
  color: gray;
}

.app__sidebar_section-icon {
  color: gray;
}

.app__sidebar_bottom {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 10px;
  background-color: #fff;
  border: 0.1px solid lightgray;
}

.app__sidebar_section-4 {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 12px 10px;
  border-bottom: 0.3px solid lightgray;
}

.app__sidebar_section-5 {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 12px 10px;
  cursor: pointer;
}

.app__sidebar_section-5:hover {
  background-color: rgb(226, 226, 226);
}

.app__sidebar_section-5 > p {
  color: gray;
}
